/* ===== Estilização do container dos cards ===== */
.containerProps {
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    gap: 7px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 35%;
    margin: auto;
    margin-bottom: 15px;
}

/* ===== Estilização da imagem dos cards ===== */
.imagem {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* ===== Estilização do nome ===== */
.nome {
    font-weight: 800;
}

/* ===== Estilização da mensagem ===== */
.mensagem {
    font-weight: 500;
}
